/*COMPONENTES*/
.ponto {
  color: var(--ce-0);
  font-family: "Poppins", sans-serif;
}

.botao {
  font: 600 18px/1.35 "Poppins", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  padding: 16px 32px;
  border-radius: 4px;
  color: var(--ce-4);
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}
