/*COMPONENTES*/
.ponto {
  color: var(--ce-0);
  font-family: "Poppins", sans-serif;
}

.botao {
  font: 600 18px/1.35 "Poppins", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  padding: 16px 32px;
  border-radius: 4px;
  color: var(--ce-4);
  max-width: max-content;
}

.botao.secundario {
  background: var(--cb-10);
  color: var(--cb-4);
}

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 8px;
  background: url("../../img/icones/seta.svg");
}

.botao.seta:hover::after {
  transform: translateX(4px);
  transition: 0.3s;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}
