.intro {
  background-color: #000000;
  box-shadow: inset 0px -120px #ffffff;
}

.intro-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px 20px;
  max-width: 1200px;
}

.intro-escrita {
  display: grid;
  align-content: end;
  justify-items: start;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 200px;
}

.intro-escrita h1 {
  margin-bottom: 32px;
}

.intro-escrita p {
  color: #b2b2b2;
  margin-bottom: 20px;
}

.intro-escrita a {
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  padding: 16px 32px;
  border-radius: 4px;
  color: #332200;
}

.intro-visual img {
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .intro-escrita h1 {
    font-size: 48px;
  }

  .intro-escrita p {
    font-size: 18px;
  }
}

/*RESPONSIVIDADE*/
@media (max-width: 850px) {
  .intro {
    background-color: #111111;
    box-shadow: inset 0px -60px #ffffff;
  }

  .intro-content {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .intro-escrita {
    padding-bottom: 0px;
  }
  .intro-escrita h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .intro-visual img {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .intro {
    box-shadow: inset 0px -100px #ffffff;
  }
}
