.lista-bikes-title {
  font-size: 60px;
  line-height: 1.125;
  padding: 40px 20px;
}

.lista-bikes-items {
  padding: 0px 20px 40px 20px;
  max-width: 1400px;
  display: flex;
  gap: 40px;
  overflow-x: auto;
}

.lista-bikes-items li {
  min-width: 280px;
}

.lista-bikes-items a {
  display: block;
  color: #111111;
}

.lista-bikes-items img {
  margin-bottom: 16px;
}

.lista-bikes-items h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.lista-bikes-items h3::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: #ffbb00;
  margin-right: 8px;
}

.lista-bikes-items a:hover h3::before {
  width: 24px;
  transition: 0.3s;
}

.lista-bikes-items li span {
  padding-left: 20px;
}

@media (max-width: 1200px) {
  .lista-bikes-title {
    font-size: 48px;
  }
}

@media (max-width: 850px) {
  .lista-bikes-title {
    font-size: 32px;
  }
}
